[Desktop Entry]
Comment[en_US]=
Comment=
Exec='' sudo '/home/nail_/Startup Script/powertop.sh'
GenericName[en_US]=
GenericName=
Icon=dialog-scripts
MimeType=
Name[en_US]=powertop.sh
Name=powertop.sh
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-AutostartScript=true
X-KDE-SubstituteUID=false
X-KDE-Username=
